<% if params[:controller] == 'about' %>
<div class='well'>
	<h3>Location Info</h3>
	<ul>
		<li>The BookStore</li>
		<li>1010 Blacklick Road NW</li>
		<li>Columbus OH, 43105</li>
		<li>Phone: (614)230-7914</li>
		<li>Email: help@thebookstore.com</li>
	</ul>
</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category.id), class:"list-group-item" %>
    <% end %>
</div>
<% end %>