<!--<h1><%= @page_title%></h1>-->
<div class="about">
<h1> About This Project</h1>
<div class="gen_info">
<h4>General Info</h4>
<p>This was my first go at developing with Ruby and the Ruby on Rails Framework. Didn't take long to figure out why it has become popular.  Over all the project came together quickly, few bugs to work out as I worked through it in about 15 hours.  Project was based around getting familir with database useage in a UI experience and displaying dynamic content to the user.  As you can see the user is able to add, edit and delete all the books, authors, categories and publishers in the bookstore.  More emphsis on functionality rather than on graphics and design in this project, so far.</p>
</div>
<h4>Specs</h4>
<table class="table table-striped">
	<tr>
	  <th>Skills</th>
	  <th>Usage</th>
	  <th>General Description</th>
	</tr>
	<tr>
	  <td>Ruby</td>
	  <td>Backbone of the website</td>
	  <td>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write. </td>
	</tr>
	<tr>
	  <td>Ruby On Rails</td>
	  <td>Website Framework</td>
	  <td>Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages.</td>
	</tr>
	<tr>
	  <td>Lamp</td>
	  <td>Used to install localhost and mySQL on Linux</td>
	  <td>LAMP stack is a popular open source web platform commonly used to run dynamic web sites and servers. It includes Linux, Apache, MySQL, and PHP/Python/Perl and is considered by many the platform of choice for development and deployment of high performance web applications which require a solid and reliable foundation.</td>
	</tr>
	<tr>
	  <td>RubyGems</td>
	  <td>Gems intalled Rails, therubyracer, mysql2 and uglifier</td>
	  <td>RubyGems is a package manager for the Ruby programming language that provides a standard format for distributing Ruby programs and libraries</td>
	</tr>
	<tr>
	  <td>Bootstrap</td>
	  <td>Templating with the .css file</td>
	  <td>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</td>
	</tr>
	<tr>
	  <td>HTML5</td>
	  <td>Most up to date markup language</td>
	  <td>structuring and presenting content</td>
	</tr>
	<tr>
	  <td>CSS3</td>
	  <td>Custom Styling of layouts</td>
	  <td>Latest version of the Cascading Style Sheets language</td>
	</tr>
</table>
</div>